/* {
  border: 1px solid red !important;
}*/

/* latin */
@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: local('UnifrakturMaguntia'), url(https://fonts.gstatic.com/s/unifrakturmaguntia/v7/7KWy3ymCVR_xfAvvcIXm33xeO3Ru8xeVcoZnah1CFiM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1700px;
    min-width: 340px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

figure {
    margin: 0;
}

.castle-img-wrapper {
    margin-right: 5%;
    margin-left:  5%;
}

.map {
    height:20vw;
    width:90%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}

.title {
    text-align: center;
    font-family: UnifrakturMaguntia;
    font-size: 9vw;
    max-width: 1700px;
}

.castle-img-title {
    text-align: left;
    font-family: UnifrakturMaguntia;
    font-size: 4vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

.castle-img-wrapper {
    text-align: left;
    font-family: UnifrakturMaguntia;
    font-size: 4vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

.map_container {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}

.row {
    max-width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
}

.search-container {
    margin-right: 5%;
    margin-left: 5%;
}

#search-box {
    max-height: 30px;
    border: solid 1px gainsboro;
    -webkit-transition: box-shadow 0.3s, border 0.3s;
    -moz-transition: box-shadow 0.3s, border 0.3s;
    -o-transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    display: block;
    font-family: "Open Sans", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    width: 50%;
    margin: 0;
    margin-bottom: 3px;
    padding: 2%;
    font-size: 2.6vw;
    text-align: right;
}

#search-box:focus,
#search-box.focus {
    -webkit-box-shadow: 0 0 5px 1px #969696;
    -moz-box-shadow: 0 0 5px 1px #969696;
    box-shadow: 0 0 5px 1px #969696;
    outline: none;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

@media only screen and (max-width:800px) {
    #search-box {
        max-width: 100%;
    }
}

@media only screen and (min-width:1700px) {
    .title {
        font-size: 153px;
    }

    .castle-img-title {
        font-size: 68px;
    }

    #search-box {
        font-size: 44px;
    }
}

@media only screen and (max-width:450px) {
    .map_container {
        padding-left: 0;
        padding-right: 0;
    }

    .map {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .search-container {
        margin-right: 0;
        margin-left: 0;
    }

    #search-box {
        max-width: 100%;
    }

    .body {
        margin-right: 0;
        margin-left: 0;
    }

    .mobile-invisible {
        display: none;
    }

    .col-sm-12 {
        width: 100%;
    }
}

